body {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
  min-width: 800px;
}

.img-icon {
  height: 24px;
  width: 20px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.img-icon-small {
  height: 15px;
  width: 15px;
}

.img-icon-large {
  height: 32px;
  width: 28px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.img-link {
  text-decoration: none !important;
}

.text-track {
  font-size: 18px;
}

.text-small {
  font-size: 12px;
}
